{% extends 'base.html.twig' %}


{% block body %}
<br> <br>
    {% for t in groups %}


<center>
    <h1> Espace Privé de Groupe {{ t.title }}</h1>
    <br>

    <img src="{{ asset("assets/images/Buddy/"~ t.image ) }}"><br><br>

    <a  href="{{path('travelbuddy_ChatRoom')}}"><img  width="100" height="100" src="{{ asset("assets/images/Grouuupschat.png" ) }}"><br></a>
    <button><a href="{{path('travelbuddy_ChatRoom')}}"> ChatRoom</a></button>
    <button><a href="{{path('travelbuddy_DetailGroup',{'id':t.idTravelGroup})}}"> Retour</a></button>

    {% endfor %}
</center>

<br>




    <script>


        $('.carousel ').carousel()
        interval: 2000

        $('.toast').toast('show')


    </script>
    <style>

        ul li{
            font-size:20px;
        }
    </style>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{%  endblock %}

