{% extends 'baseback.html.twig' %}
{% block body %}
    <center>
        <h1>Modfication des groupes</h1>
        {{ form_start(form) }}
        <table>
            <tr> <td>Tile:</td><td> {{ form_widget(form.title) }}</td></tr>
            <tr><td>Destination:</td><td>{{ form_widget(form.destination) }}</td></tr>
            <tr><td><span id="date1">Date Debut:</span></td><td>{{ form_widget(form.dateDebut) }}</td></tr>
            <tr><td><span id="date2">Date fin:</span></td><td>{{ form_widget(form.dateFin) }}</td></tr>
            <tr><td>Plan:</td><td>{{ form_widget(form.plan) }}</td></tr>
            <tr><td>Photo :</td><td>{{ form_widget(form.imageFile) }}</td></tr>
            <tr><td></td><td>{{ form_widget(form.confirmer) }}</td></tr>


        </table>
        {{ form_end(form) }}

        <td><button><a href ="{{path('travelbuddy_GroupsList')}}">reteur</a></button></td>






    </center>
{% endblock %}