<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap material admin template">
    <meta name="author" content="">

    <title>Admin Dashboard</title>

    <link rel="apple-touch-icon" href='{{ asset('assets/material/base/assets/images/apple-touch-icon.png') }}'>
    <link rel="shortcut icon" href='{{ asset('assets/material/base/assets/images/favicon.ico') }}'>

    <!-- Stylesheets -->
    <link rel="stylesheet" href='{{ asset('assets/material/global/css/bootstrap.minfd53.css') }}'>
    <link rel="stylesheet" href='{{ asset('assets/material/global/css/bootstrap-extend.minfd53.css') }}'>
    <link rel="stylesheet" href='{{ asset('assets/material/base/assets/css/site.minfd53.css') }}'>


    <!-- Plugins -->
    <link rel="stylesheet" href="{{ asset('assets/material/global/vendor/animsition/animsition.minfd53.css') }}">
    <link rel="stylesheet" href='{{ asset('assets/material/global/vendor/asscrollable/asScrollable.minfd53.css') }}'>
    <link rel="stylesheet" href='{{ asset('assets/material/global/vendor/switchery/switchery.minfd53.css') }}'>
    <link rel="stylesheet" href='{{ asset('assets/material/global/vendor/intro-js/introjs.minfd53.css') }}'>
    <link rel="stylesheet" href='{{ asset('assets/material/global/vendor/slidepanel/slidePanel.minfd53.css') }}'>
    <link rel="stylesheet" href='{{ asset('assets/material/global/vendor/flag-icon-css/flag-icon.minfd53.css') }}'>
    <link rel="stylesheet" href='{{ asset('assets/material/global/vendor/waves/waves.minfd53.css') }}'>

    <!-- Plugins For This Page -->
    <link rel="stylesheet" href='{{ asset('assets/material/global/vendor/chartist/chartist.minfd53.css') }}'>
    <link rel="stylesheet" href='{{ asset('assets/material/global/vendor/jvectormap/jquery-jvectormap.minfd53.css') }}'>
    <link rel="stylesheet" href='{{ asset('assets/material/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.minfd53.css') }}'>

    <!-- Page -->
    <link rel="stylesheet" href='{{ asset('assets/material/base/assets/examples/css/dashboard/v1.minfd53.css') }}'>

    <!-- Fonts -->
    <link rel="stylesheet" href='{{ asset('assets/material/global/fonts/material-design/material-design.minfd53.css') }}'>
    <link rel="stylesheet" href='{{ asset('assets/material/global/fonts/brand-icons/brand-icons.minfd53.css') }}'>
    <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700">


    <!--[if lt IE 9]>
    <script src="{{ asset('assets/material/global/vendor/html5shiv/html5shiv.min.js') }}"></script>
    <![endif]-->

    <!--[if lt IE 10]>
    <script src="{{ asset('assets/material/global/vendor/media-match/media.match.min.js') }}"></script>
    <script src="{{ asset('assets/material/global/vendor/respond/respond.min.js') }}"></script>
    <![endif]-->

    <!-- Scripts -->
    <script src="{{ asset('assets/material/global/vendor/breakpoints/breakpoints.minfd53.js') }}"></script>
    <script>
        Breakpoints();
    </script>
</head>
<body class="animsition dashboard">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">

    <div class="navbar-header">
        <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
                data-toggle="menubar">
            <span class="sr-only">Toggle navigation</span>
            <span class="hamburger-bar"></span>
        </button>
        <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse"
                data-toggle="collapse">
            <i class="icon md-more" aria-hidden="true"></i>
        </button>
        <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
            <img class="navbar-brand-logo" src="{{ asset('assets/material/base/assets/images/logo.png') }}" title="Remark">
            <span class="navbar-brand-text hidden-xs-down"> Amiticia</span>
        </div>
        <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-search"
                data-toggle="collapse">
            <span class="sr-only">Toggle Search</span>
            <i class="icon md-search" aria-hidden="true"></i>
        </button>
    </div>

    <div class="navbar-container container-fluid">
        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
            <!-- Navbar Toolbar -->
            <ul class="nav navbar-toolbar">
                <li class="nav-item hidden-float" id="toggleMenubar">
                    <a class="nav-link" data-toggle="menubar" href="#" role="button">
                        <i class="icon hamburger hamburger-arrow-left">
                            <span class="sr-only">Toggle menubar</span>
                            <span class="hamburger-bar"></span>
                        </i>
                    </a>
                </li>
                <li class="nav-item hidden-sm-down" id="toggleFullscreen">
                    <a class="nav-link icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
                        <span class="sr-only">Toggle fullscreen</span>
                    </a>
                </li>

            </ul>
            <!-- End Navbar Toolbar -->

            <!-- Navbar Toolbar Right -->
            <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="javascript:void(0)" data-animation="scale-up"
                       aria-expanded="false" role="button">
                        <span class="flag-icon flag-icon-tn"></span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link navbar-avatar" data-toggle="dropdown" href="{{ path('show_profile', { 'id': app.user.id }) }}" aria-expanded="false"
                       data-animation="scale-up" role="button">
              <span class="avatar avatar-online">
                <img src="{{ asset("assets/images/users/"~ app.user.photoP ) }}" alt="...">
                <i></i>
              </span>
                    </a>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-account" aria-hidden="true"></i> Profile</a>
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-card" aria-hidden="true"></i> Billing</a>
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-settings" aria-hidden="true"></i> Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-power" aria-hidden="true"></i> Logout</a>
                    </div>
                </li>
                {% block notif %}
                {% endblock %}

            </ul>
            <!-- End Navbar Toolbar Right -->
        </div>
        <!-- End Navbar Collapse -->

        <!-- Site Navbar Seach -->
        <div class="collapse navbar-search-overlap" id="site-navbar-search">
            <form role="search">
                <div class="form-group">
                    <div class="input-search">
                        <i class="input-search-icon md-search" aria-hidden="true"></i>
                        <input type="text" class="form-control" name="site-search" placeholder="Search...">
                        <button type="button" class="input-search-close icon md-close" data-target="#site-navbar-search"
                                data-toggle="collapse" aria-label="Close"></button>
                    </div>
                </div>
            </form>
        </div>
        <!-- End Site Navbar Seach -->
    </div>
</nav>
<div class="site-menubar site-menubar-light">
    <div class="site-menubar-body">
        <div>
            <div>
                <ul class="site-menu" data-plugin="menu">
                    <li class="site-menu-category">General</li>
                    <li class="site-menu-item active">
                        <a href="{{ path('homepage') }}">
                            <i class="fas fa-home site-menu-icon md-view-compact" aria-hidden="true"></i>
                            <span class="site-menu-title"> Acceuil</span>
                        </a>
                    </li>


                    <li class="site-menu-category">Modules</li>

                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon md-palette" aria-hidden="true"></i>
                            <span class="site-menu-title">Experience</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a href="{{ path('experience_list_back') }}">
                                    <span class="site-menu-title">Les Experiences</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a href="{{ path('comments_list_back') }}">
                                    <span class="site-menu-title">Les commentaires</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a href="{{ path('reports_list_back') }}">
                                    <span class="site-menu-title">Les signalisations</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon md-format-color-fill" aria-hidden="true"></i>
                            <span class="site-menu-title">Evennements</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item hidden-sm-down site-tour-trigger">
                                <a href="{{ path('index') }}">
                                    <span class="site-menu-title">Approuver</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a href="{{ path('stat') }}">
                                    <span class="site-menu-title">Statistiques</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon md-puzzle-piece" aria-hidden="true"></i>
                            <span class="site-menu-title">Blog</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a href="{{ path('homepage') }}">
                                    <span class="site-menu-title">Alerts</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a href="{{ path('homepage') }}">
                                    <span class="site-menu-title">Ribbon</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a href="{{ path('homepage') }}">
                                    <span class="site-menu-title">Pricing Tables</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon md-widgets" aria-hidden="true"></i>
                            <span class="site-menu-title">TravelBuddy</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a href="{{ path('travelbuddy_AdminBuddy') }}">
                                    <span class="site-menu-title">Travel Buddy</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a href="{{ path('travelbuddy_AdminGroup') }}">
                                    <span class="site-menu-title">Travel Group</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon md-comment-alt-text" aria-hidden="true"></i>
                            <span class="site-menu-title">Logements</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a href="{{ path('show_logement2') }}">
                                    <span class="site-menu-title">Approuver Logement</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a href="{{ path('add_cite') }}">
                                    <span class="site-menu-title">Consulter cité</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="site-menu-item has-sub">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon md-border-all" aria-hidden="true"></i>
                            <span class="site-menu-title">Equipements</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item">
                                <a href="{{ path('homepage') }}">
                                    <span class="site-menu-title">Basic Tables</span>
                                </a>
                            </li>
                            <li class="site-menu-item">
                                <a href="{{ path('homepage') }}">
                                    <span class="site-menu-title">Bootstrap Tables</span>
                                </a>
                            </li>
                        </ul>
                    </li>


                </ul>

            </div>
        </div>
    </div>

    <div class="site-menubar-footer">
        <a href="javascript: void(0);" class="fold-show" data-placement="top" data-toggle="tooltip"
           data-original-title="Settings">
            <span class="icon md-settings" aria-hidden="true"></span>
        </a>
        <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Lock">
            <span class="icon md-eye-off" aria-hidden="true"></span>
        </a>
        <a href="{{ path('fos_user_security_logout') }}" data-placement="top" data-toggle="tooltip" data-original-title="Logout">
            <span class="icon md-power" aria-hidden="true"></span>
        </a>
    </div>
</div>
<div class="site-gridmenu">
    <div>
        <div>
            <ul>
                <li>
                    <a href="apps/mailbox/mailbox.html">
                        <i class="icon md-email"></i>
                        <span>Mailbox</span>
                    </a>
                </li>
                <li>
                    <a href="apps/calendar/calendar.html">
                        <i class="icon md-calendar"></i>
                        <span>Calendar</span>
                    </a>
                </li>
                <li>
                    <a href="apps/contacts/contacts.html">
                        <i class="icon md-account"></i>
                        <span>Contacts</span>
                    </a>
                </li>
                <li>
                    <a href="apps/media/overview.html">
                        <i class="icon md-videocam"></i>
                        <span>Media</span>
                    </a>
                </li>
                <li>
                    <a href="apps/documents/categories.html">
                        <i class="icon md-receipt"></i>
                        <span>Documents</span>
                    </a>
                </li>
                <li>
                    <a href="apps/projects/projects.html">
                        <i class="icon md-image"></i>
                        <span>Project</span>
                    </a>
                </li>
                <li>
                    <a href="apps/forum/forum.html">
                        <i class="icon md-comments"></i>
                        <span>Forum</span>
                    </a>
                </li>
                <li>
                    <a href="{{ path('homepage') }}">
                        <i class="fas fa-home"></i>
                        <span>Acceuil</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="page">
    <div class="page-content container-fluid">
        <div class="row" data-plugin="matchHeight" data-by-row="true">
{% block body %}{% endblock %}
        </div></div></div>
<!-- End Page -->

<!-- Footer -->
<footer class="site-footer">
    <div class="site-footer-right">
        Amiticia <i class="red-600 icon md-favorite"></i> à Esprit par <a href="https://themeforest.net/user/creation-studio">InDev</a>
    </div>
</footer>
<!-- Core  -->
<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="{{ asset('assets/material/global/vendor/babel-external-helpers/babel-external-helpersfd53.js') }}"></script>
<script src="{{ asset('assets/material/global/vendor/jquery/jquery.minfd53.js') }}"></script>
<script src="{{ asset('assets/material/global/vendor/popper-js/umd/popper.minfd53.js') }}"></script>
<script src="{{ asset('assets/material/global/vendor/bootstrap/bootstrap.minfd53.js') }}"></script>
<script src="{{ asset('assets/material/global/vendor/animsition/animsition.minfd53.js') }}"></script>
<script src="{{ asset('assets/material/global/vendor/mousewheel/jquery.mousewheel.minfd53.js') }}"></script>
<script src="{{ asset('assets/material/global/vendor/asscrollbar/jquery-asScrollbar.minfd53.js') }}"></script>
<script src="{{ asset('assets/material/global/vendor/asscrollable/jquery-asScrollable.minfd53.js') }}"></script>
<script src="{{ asset('assets/material/global/vendor/ashoverscroll/jquery-asHoverScroll.minfd53.js') }}"></script>
<script src="{{ asset('assets/material/global/vendor/waves/waves.minfd53.js') }}"></script>

<!-- Plugins -->
<script src="{{ asset('assets/material/global/vendor/switchery/switchery.minfd53.js') }}"></script>
<script src="{{ asset('assets/material/global/vendor/intro-js/intro.minfd53.js') }}"></script>
<script src="{{ asset('assets/material/global/vendor/screenfull/screenfull.minfd53.js') }}"></script>
<script src="{{ asset('assets/material/global/vendor/slidepanel/jquery-slidePanel.minfd53.js') }}"></script>

<!-- Plugins For This Page -->
<script src="{{ asset('assets/material/global/vendor/chartist/chartist.minfd53.js') }}"></script>
<script src="{{ asset('assets/material/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.minfd53.js') }}"></script>
<script src="{{ asset('assets/material/global/vendor/jvectormap/jquery-jvectormap.minfd53.js') }}"></script>
<script src="{{ asset('assets/material/global/vendor/jvectormap/maps/jquery-jvectormap-world-mill-enfd53.js') }}"></script>
<script src="{{ asset('assets/material/global/vendor/matchheight/jquery.matchHeight-minfd53.js') }}"></script>
<script src="{{ asset('assets/material/global/vendor/peity/jquery.peity.minfd53.js') }}"></script>

<!-- Scripts -->
<script src="{{ asset('assets/material/global/js/State.minfd53.js') }}"></script>
<script src="{{ asset('assets/material/global/js/Component.minfd53.js') }}"></script>
<script src="{{ asset('assets/material/global/js/Plugin.minfd53.js') }}"></script>
<script src="{{ asset('assets/material/global/js/Base.minfd53.js') }}"></script>
<script src="{{ asset('assets/material/global/js/Config.minfd53.js') }}"></script>

<script src="{{ asset('assets/material/base/assets/js/Section/Menubar.minfd53.js') }}"></script>
<script src="{{ asset('assets/material/base/assets/js/Section/GridMenu.minfd53.js') }}"></script>
<script src="{{ asset('assets/material/base/assets/js/Section/Sidebar.minfd53.js') }}"></script>
<script src="{{ asset('assets/material/base/assets/js/Section/PageAside.minfd53.js') }}"></script>
<script src="{{ asset('assets/material/base/assets/js/Plugin/menu.minfd53.js') }}"></script>

<!-- Config -->
<script src="{{ asset('assets/material/global/js/config/colors.minfd53.js') }}"></script>
<script src="{{ asset('assets/material/base/assets/js/config/tour.minfd53.js') }}"></script>
<script>
    Config.set('assets', 'assets');
</script>

<!-- Page -->

<script src="{{ asset('assets/material/base/assets/js/Site.minfd53.js') }}"></script>
<script src="{{ asset('assets/material/global/js/Plugin/asscrollable.minfd53.js') }}"></script>

<script src="{{ asset('assets/material/global/js/Plugin/slidepanel.minfd53.js') }}"></script>
<script src="{{ asset('assets/material/global/js/Plugin/switchery.minfd53.js') }}"></script>

<script src="{{ asset('assets/material/global/js/Plugin/matchheight.minfd53.js') }}"></script>
<script src="{{ asset('assets/material/global/js/Plugin/jvectormap.minfd53.js') }}"></script>
<script src="{{ asset('assets/material/global/js/Plugin/peity.minfd53.js') }}"></script>


<script src="{{ asset('assets/material/base/assets/examples/js/dashboard/v1.minfd53.js') }}"></script>


<!-- Google Analytics -->
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js',
        'ga');

    ga('create', 'UA-65522665-1', 'auto');
    ga('send', 'pageview');
</script>
</body>


<!-- Mirrored from getbootstrapadmin.com/remark/material/base/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 07 Mar 2019 19:43:59 GMT -->
</html>